* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 180px;
    background-image: url('../img/img/pattern.png');
    background-size: 38%;
    background-color: #4ea1ff;
}

#logo {
    width: 400px;
    height: 100px;
    padding: 70px 0 0 30px;
}

main {
    margin: 20px 10px;
}

h1 {
    font-size: 75px;
}

.article-info {
    color: rgb(156, 156, 156);
}

.writed-by {
    font-size: 35px;
}

.writer {
    font-weight: 600;
    color: #65deff;
}

.data {
    font-size: 24px;
}